<mat-card class="mat-elevation-z8">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <ul class="heading">
          <li>First Name :</li>
          <li>Last Name :</li>
          <li>Full Name :</li>
          <li>Title :</li>
          <li>NIC :</li>
          <li>Email :</li>
          <li>Mobile :</li>
          <li>Address(House No) :</li>
          <li>Address(Street) :</li>
          <li>Address(City) :</li>
          <li>District :</li>
          <li>Test Language :</li>
          <li>Awareness :</li>
          <li>Liked Most :</li>
          <li>Highest Education :</li>
          <li>uni Preparation :</li>
        </ul>
      </div>
      <div class="col-8">
        <ul>
          <li>{{student?.firstName}}</li>
          <li>{{student?.lastName}}</li>
          <li>{{student?.fullName}}</li>
          <li>{{student?.title}}</li>
          <li>{{student?.nic}}</li>
          <li>{{student?.email}}</li>
          <li>{{student?.mobile}}</li>
          <li>{{student?.address1}}</li>
          <li>{{student?.address2}}</li>
          <li>{{student?.address3}}</li>
          <li>{{student?.district}}</li>
          <li>{{student?.testLanguage}}</li>
          <li>{{student?.awareness}}</li>
          <li>{{student?.likedMost}}</li>
          <li>{{student?.highestEducation}}</li>
          <li>{{student?.uniPreparation}}</li>
        </ul>

      </div>

    </div>
  </div>
</mat-card>

